.display {
   display: flex;
   flex-direction: column;
   padding: 20px 15px;
   gap: 10px;
}

.display > p {
   margin: 0;
   text-align: right;
}

.previous-value {
   height: 25px;
   color: var(--lighter-grey);
   font-size: 1em;
   letter-spacing: 2px;
}

.current-value {
   height: 50px;
   font-size: 2.5em;
   font-weight: bold;
}
