:root {
   --white: #ffffff;
   --dark-grey: #202021;
   --grey: #323232;
   --light-grey: #3d3b3c;
}

body {
   background-color: black;
   color: white;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
